@import 'variables';
.vertical-buttons-holder {
    .container {
        padding: 0;
    }
    background-color: $light-grey;
    padding-bottom: 80px;
    .big-btn {
        @include border-bottom-radius(4px);
        @include border-top-radius(4px);
        @include transition(backgound-color, .3s);
        height: 100px;
        width: 100%;
        padding-top: 20px;
        padding-left: 5px;
        background-color: $blue;
        color: $white;
        margin: 2px 0;
        .icon-holder {
            float: left;
            margin-right: 10px;
        }
        @include breakpoint(sm) {
            height: 150px;
            padding-top: 45px;
            padding-left: 30px;
            .icon-holder {
                margin-right: 25px;
            }
        }
        &:hover {
            background-color: darken($blue, 5%);
            cursor: pointer;
        }
    }
    .darken {
        background-color: $dark-blue;
        &:hover {
            background-color: darken($dark-blue, 5%);
        }
    }
    .lighten {
        background-color: $light-blue;
        &:hover {
            background-color: darken($light-blue, 5%);
        }
    }
    h3 {
        @include UbuntuMedium;
        @include line-height(20, 24);
        font-size: $font20px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    p {
        @include line-height(14, 22);
        font-size: $font14px;
    }
}
