@import 'variables';

.anwendung-holder {
	padding-top: 50px;
	background-color: $light-grey;
	.img-holder img {
		border: 8px solid $white;
		margin-bottom: 50px;
	}

	h2 {
		@include UbuntuMedium;
		font-size: $font36px;
		color: $grey-txt;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;

		&:after {
			content: '';
			height: 1px;
			width: 70px;
			background-color: $blue;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
		}
	}

	p {
		@include line-height(14, 22);
		font-size: $font14px;
	}
}






